# 02/2022 Questions

This notebook will track progress on practice questions that are sent by the InterviewQs website.

## 02/28 Question

A given car has a number of miles it can run before its battery is depleted, where the number of miles are exponentially distributed with an average of 10,000 miles to depletion.


                    
If a given individual needs to make a trip that's 3,000 miles, what is the probability that she/he will be able to complete the trip without having to replace the battery? You can assume the car battery is new for this problem.


    
                    
For some reading material on exponential distributions, you can visit this link. https://www.probabilitycourse.com/chapter4/4_2_2_exponential.php

## Approach

An exponential distribution is defined by the following equation for any x greater than 0: x = $Le^{-Lx}$.

In the equation:
- e is Euler's number
- L is a constant
- x is the probability value/outcome, in this case the probability

To solve the problem, we must first find the value of L. To do so, we use the knowledge that the average value of an exponential distribution is as follows: <br>
x = 1/L. 

We know that the average is 10,000 miles from the statement, so solving for L we get that L is 0.0001.

Now we can use this to solve the following equation to solve the problem:
$e^{-Lx}$

Substituting L as 0.001 and x as 3,000 per the statement: 

x = $e^{-0.001*3000}$ = 0.74

0.74 represents the probability P(X>x), meaning the probability that the cumulative probability that the car battery will lose charge if more than 3,000 miles are driven. 

__We are looking to find the probability that the car battery will last 3,000 miles so we subtract the above probability from 1 to get a final result of 0.26 or 26%.__

## 02/25 Question 

Suppose you're given a portion of a phone number. Each digit corresponds to letters (as shown below). Using python, write code to return all possible combinations the given number could represent.
 
For example:

Input: "24"
    
Output: 
    
['a', 'g'], ['a', 'h'] ,['a', 'i'], ['b', 'g'], ['b', 'h'], ['b', 'i'], ['c', 'g'], ['c', 'h'], ['c', 'i']
    
## Approach

For this problem I will do the following:
- Map letters to each corresponding item in an array
- use the given input numbers to find the letters assigned to those numbers, by accessing the array
- find all the combinations of two letters between these two lists of letters by using the product function in itertools library
- print the final list result

In [36]:
from itertools import product
tel_keys = [0,0,"abc","def","ghi","jkl","mno","pqrs","tuv","wxyz"]

def telephone_numbers_to_letters(num1, num2):
    list1,list2 = tel_keys[num1],tel_keys[num2]
    all_letter_combinations = list(product(list1,list2))
    print (all_letter_combinations)

In [37]:
telephone_numbers_to_letters(2,3)

[('a', 'd'), ('a', 'e'), ('a', 'f'), ('b', 'd'), ('b', 'e'), ('b', 'f'), ('c', 'd'), ('c', 'e'), ('c', 'f')]

## 02/23 Question 

You are an analyst for a major US hotel chain which has locations all over the US. Your marketing team is planning a promotion focused around loyal customers, and they are trying to forecast how much revenue the promotion will bring in. However, they need help from you to understand how much revenue comes from "loyal" customers to plug into their model. 


    
A "loyal" customer is defined as:


    

    
having a membership with your company's point system, 
    
meeting either of the below conditions
    

    
 having >2 stays at any hotel location
    
 having stayed at 3 different locations
    

    

    
You have a table showing all transactions made in 2017. The schema of the table is below:


    
Table: customer_transactions


    
|Column Name|	Data Type|	Description|
|---|---|---|
|customer_id|	id|	id of the customer|
|hotel_id|	integer|	unique id for hotel|
|transaction_id|	integer|	id of the given transaction|
|first_night|	string|	first night of the stay, column format is "YYYY-mm-dd" |
|number_of_nights|	integer|	# of nights the customer stayed in hotel|
|total_spend|	integer|	total spend for transaction, in USD|
|is_member|	boolean|	indicates if the customer is a member of our points system|

Using the information above, write a SQL query to show total revenue from 'loyal' customers.

## Approach

To create this SQL query, I will group the data by customer to determine whether the customer meets all criteria. I will also create columns to meet the other requirements:
- a distinct count of the hotels a customer stayed at, via hotel_id
- the max number of nights stayed at a particular hotel
- the sum of total hotel spend for the customer

I will then use a HAVING clause to only include results where a customer has stayed at 3 or more hotels and has a max stay greater than 2 nights. Thus I will only have the relevant customers selected. I can then aggregate these individual total_spend sums into an overall total expected spend from the loyal customers.

SELECT COUNT(customer_id), SUM(Loyal_Cust_Revenue) FROM ( <br>
SELECT customer_id, COUNT(DISTINCT(hotel_id)) AS Number_of_Locations_Stayed, MAX(number_of_nights) as Number_of_Nights_max, SUM(total_spend) AS Loyal_Cust_Revenue<br>
FROM customer_transactions<br>
GROUP BY customer_id<br>
HAVING Number_of_Locations_Stayed>3 AND Number_of_Nights_max>2<br>)

## 02/21 Question - To Do

You are given a dataframe containing student information, named df (shown below). Suppose you want to normalize each student's grade based on their age.


    
Age	Favorite Color	Grade	Name
20	blue	88	Willard Morris
19	blue	95	Al Jennings
22	yellow	92	Omar Mullins
21	green	70	Spencer McDaniel

    

    
Write a function using Python Pandas that will add a new column to your dataframe containing a new grade normalized against the mean age of the students.

## 02/18 Question - To Do

Suppose you're working for a car rental company, looking to model potential location distribution of their cars at major airports. The company operates in LA, SF, and San Jose. Customers regularly pickup a car in one of these 3 cities and drop it off in another. The company is looking to compute how likely it is that a given car will end up in a given city. You can model this as a Markov chain (where each time step corresponds to a new customer taking the car).


    
The transition probabilities of the company's car allocation by city are as follows:


    
 SF | LA | San Jose
    
 0.6  0.1  0.3 | SF
    
 0.2  0.8  0.3 | LA
    
 0.2  0.1  0.4 | San Jose
    

    
As shown, the probability a car stays in SF is 0.6, the probability it moves from SF to LA is 0.2, SF to San Jose is 0.2, etc.


    
Using the information above, determine the probability a car will start in SF but move to LA right after.

## 02/16 Question

Given an array of integers, can you write a function that returns "True" if there is a triplet (a, b, c) within the array that satisfies a^2 + b^2 = c^2?

### Approach

For this problem, I will loop through every combination of items in the provided array and check whether or not the square of the first two terms is equal to the third:

In [11]:
def isTriplet(ar):
    n=len(ar)
    j = 0
     
    for i in range(n - 2):
        for k in range(j + 1, n):
            for j in range(i + 1, n - 1):
                # Calculate square of array elements
                x = ar[i]*ar[i]
                y = ar[j]*ar[j]
                z = ar[k]*ar[k]
                if (x == y + z or y == x + z or z == x + y):
                    return True
     
    # If we reach here, no triplet found
    return False

In [12]:
isTriplet([3, 1, 4, 6, 5])

True

## 02/14 Question

Below are two table schemas for a popular music streaming application:

Table 1: user_song_log

|Column Name|	Data Type|	Description|
|---|---|---|
|user_id	|id	|id of the streaming user|
|timestamp	|integer	|timestamp of when the user started listening to the song, epoch seconds|
|song_id	|integer	|id of the song|
|artist_id	|integer	|id of the artist|

    

    
Table 2: song_info


    
|Column Name|	Data Type|	Description|
|---|---|---|
|song_id|	integer|	id of the song|
|artist_id|	integer|	id of the artist|
|song_length|	integer|	length of song in seconds|

Given the above, can you write a SQL query to estimate the average number of hours a user spends listening to music daily? You can assume that once a given user starts a song, they listen to it in its entirety.

### Approach

To solve the above, I will take the following steps:
- join the two tables based on song_id and artist_id, so that each corresponding listen can be tied to a length of listening
- convert the timestamp figure to a date
- convert song length to minutes per the question request
- group the merged table by user id and date, and sum listening time for each user/day accordingly. This will yield a daily listening time column
- use the above table as a subquery, and select user id and average daily listening time in the main query to find the average listening time per user per day

### Solution

SELECT user_id, avg(daily_listening_time) from ( <br>

SELECT a.user_id,  <br>
    SUM(b.song_length/60) as daily_listening_time,  <br>
    (strftime('%Y-%m-%d', timestampe, 'unixepoch')) date1 <br>
FROM user_song_log a <br>
JOIN song_info b <br>
on a.song_id=b.song_id AND a.artist_id=b.artist_id <br>
GROUP BY a.user_id, date1 <br>

)

## 02/11 Question - In Progress

Suppose you have the following dataset which contains which contains (1st tab) a list of items purchased by a given user, (2nd tab) a mapping which maps the item_id to the item name and price, and (3rd tab) a matrix that formats data from sheet 1 into a matrix with users in rows and the number of each item_id purchased.

Given these 3 data sets, can you create a list of users who have spent the most?

## 02/09 Question

Can you explain how a receiver operating characteristic curver, or ROC curve, works?

<img src="./Images/2022.02.09_ROC.png">

### Explanation

An ROC curve shows the performance of a classification model at all given thresholds. The curve takes in the true positive rate and false positive rate parameters results from the model to do so.

The True Positive rate is calculated by dividing the number of true positives in a dataset by the sum of true positives and false negatives that the model output. In otherwords, the number of correctly predicted positive results by the total number of positives in the dataset. This is also known as recall.

The false positive rate is calculated by dividing the number of false positives from the model by the sum of false positives and true negatives. In other words, the number of incorrect positive predictions by the total number of negatives the model predicted.

An ideal curve trends to be relatively up and to the left of a plot. The higher up the y-axis the line is, the higher the recall of the model. Higher recall is good as it indicates that that a higher proportion of actual positives are correctly predicted.

ROC plots can also include a measure for the area under the ROC curve, and this measure is abbreviated as AUC. AUC can be used to more easily evalute/compare different ROC's. The AUC measures a model's performance on the provided data at all thresholds.

ROC plots also often include a control line that goes 45 degrees up from the origin for reference, as shown by the dotted line in the image above. An ROC curve should be "higher" than this line, and once again the higher up the ROC line and the sooner it reaches a value of 1 the higher the recall of the model.

## 02/07

You have a list of integers that range from values 1 to n. Each value in the list is unique, however one random slot in the list is empty, making the size of the input array n-1. Can you write a function to find the missing integer?

Examples:

Input: arr[] = [1, 2, 4, 6, 3, 7, 8]

Output: 5   

Input: arr[] = [1, 3, 2, 5, 6]

Output: 4

### Approach

We know from the problem that a complete array should have integers 1 to n, but in our case 1 of these integers is missing. The sum of any sequence of numbers 1 to n is equal to n(n+1) / 2.

Knowing this, I will create a function that will calculate the above formula. Note that since one number is missing from the array, 'n' will be equal to the length of the input array plus one. Next I will subtract the sum of the numbers in the array. The difference between these numbers, essentially expected vs actual sum, will be the missing number in the array.

### Solution

In [7]:
def find_missing_int(arr):
    expected_sum = ((len(arr)+1)*(len(arr)+2)) / 2
    return expected_sum - sum(arr)

## 02/04

Suppose you work for a conglomerate that is constantly acquiring new companies. You're working with the human resource team to understand how many new employees you're taking on. Each of the companies you are acquiring has the following organization structure:

Chief executive -> VP -> Director -> Manager -> Individual Contributor
    
You can assume that you have all this information in the following table:
    
Table: allCompanyEmployees
    
|chief_executive_officer|	vice_president	|director|	manager	|individual_contributor|	company_code|
|---|---|---|---|---|---|
|johnny|	tammy|	lenny|	penny|	jim|	abc|
|johnny|	tammy|	lenny|	penny|	tim	|abc|
|johnny|	tammy|	lenny|	penny|	pam	|abc|
|michael|	pam|	jerry|	jimmy|	timmy|	def|

You can also assume that each individual's name is unique in the table for simplicity (similar to an employee ID or user name). Given the table, can you write a SQL query to print the company_code, CEO name (or ID), total number of vice presidents, total number of directors, total number of  managers, and total number of individual contributors?

### Approach

The question is asking to aggregate the columns of the table by counting distinct values in each personnel category. To do this, I will group the data by company_code, and utilize count and distinct commands to find the total number of employees by category.

### Solution

FROM allCompanyEmployees SELECT company_code,<br>               COUNT(DISTINCT(chief_executive_officer), <br>
COUNT(DISTINCT(individual_contributor),<br>
COUNT(DISTINCT(vice_president),
<br>COUNT(DISTINCT(director),
<br>COUNT(DISTINCT(manager)
<br>GROUP BY company_code

## 02/02

Suppose you're given a portfolio of equities and asked to calculate the 'value at risk' (VaR) via the variance-covariance method.


    
The VaR is a statistical risk management technique measuring the maximum loss that an investment portfolio is likely to face within a specified time frame with a certain degree of confidence. The VaR is a commonly calculated metric used within a suite of financial metrics and models to help aid in investment decisions.


    
In order to calculate the VaR of your portfolio, you can follow the steps below:


    

      
Calculate periodic returns of the stocks in your portfolio

      
Create a covariance matrix based on (1)

      
Calculate the portfolio mean and standard deviation (weighted based on investment levels of each stock in the portfolio)

      
Calculate the inverse of the normal cumulative distribution with a specified probability, standard deviation, and mean

       
Estimate the value at risk for the portfolio by subtracting the initial investment from the calculation in step 4

      

      
To help get you started, you can reference this Google Colab notebook with the historical returns for a portfolio of the following equities:
      

['AAPL','FB', 'C', 'DIS']