# 2022.06 InterviewQs

In [5]:
import pandas as pd
import numpy as np

## 6/17 Question

Suppose you are given a tuple containing ints and strings. Write a Python function to return the # of times a given element, n, appears in the tuple.

For example, given the tuple below, where n=3, your function should return 4, since 3 appears 4 times in the tuple.

input:

n = 3
    
my_tuple = 2, 'my_string', 4, 3, 3, 3, 2, 3

output:
    
4

### Approach

For this problem, I will use the built in count function to count the instances of n in the tuple. As an alternative solution, I will also write a function that uses a loop to go through the elements in the tuple and return the correct sum.

### Solution

In [3]:
def count_tuple_element(tup,n):
    return tup.count(n)

def count_tuple_element2(tup,n):
    count=0
    for item in tup:
        if item==n:
            count+=1
    return count

# 6/15 Question

Suppose you are given the following table, containing information around total tonnage of trash for various landfills across various states. In other words, each row represents the total weight (in tons) of trash at a specific landfill site in a specific state.

landfill_weights
    
|landfillID	|weight	|state	|number_garbage_vehicles|
|---|---|---|---|
|12300	|95	|California	1005|
|12401	|85	|California	850|
|00992	|105	|New York	1300|
|00882	|100	|New York	1000|
|11100	|55	|Michigan	580|
|11201	|75	|Michigan	700|
|11207	|60	|Michigan	500|
       
Using the above table, write a SQL query to return the landfill with the second highest amount of garbage (based on weight) for each state shown. You can assume each row represents a unique landfill (e.g. the weights shown are the total weights, and do not need further aggregation) and each weight happens to be unique (e.g. there are no ties).

### Approach

For this problem I will create a SQL query that:
- selects all cols
- generates a rank of landfills via the RANK function, partitioning over state and ordering by weight
- filter the result so only the second ranked landfill from each state is returned

### Solution 

select * from <br>
(SELECT *, RANK () OVER ( PARTITION BY state ORDER BY weight DESC) AS landfill_rank
FROM landfill_weights)<br>
WHERE landfill_rank = 2<br>
order by state

## 6/13 Question

Suppose you have a dataframe, df, with the following records:

|Age|	Favorite Color|	Grade|	Name|
|---|---|---|---|
|20	|blue	|88	|Willard Morris|
|19	|blue	|95	|Al Jennings|
|22	|yellow	|92	|Omar Mullins|
|21	|green	|70	|Spencer McDaniel|

The dataframe is showing information about students. Write code using Python Pandas to select the rows where the students' favorite color is green or yellow and their grade is between 85-95 (inclusive).

### Approach

For this problem, I will create the above dataset in Pandas, then use filtering functions to only select data with the correct color and grade ranges.

### Solution

In [10]:
june_13_df = pd.DataFrame(data = [(20, 'blue', 88,'Willard Morris'), (19, 'blue', 95,'Al Jennings'), (22, 'yellow', 92,'Omar Mullins'),(21, 'green', 70,'Spencer McDaniel')], columns=["Age","Favorite Color", "Grade","Name"])

In [21]:
june_13_df_final = june_13_df[(june_13_df["Favorite Color"].isin(['green','yellow'])) & (june_13_df['Grade'].isin(range(85,96)))]

In [22]:
june_13_df_final

   Age Favorite Color  Grade          Name
2   22         yellow     92  Omar Mullins